.sloganall {
  height: 200px;
background-color: #141414;
  display: flex;
  justify-content: center;
  }


.conteiner{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 80%;
}

.button{
  width: 50%;
}