.wrapper {
  min-height: 100vh;
  background-color: #212121;
  display: flex;
  justify-content: center;
  position: relative;
align-items: center;
  flex-direction: column;
}

.contacts{
  width: 80%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  color: #feefea;
  margin-bottom: 50px;
}
.mycontact{

}
.conteiner{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.message {
  min-height: 150px;
  margin-bottom: 20px;
}

.form{
  display: flex;
  flex-direction: column;
  width: 550px;
  height: 200px;
  margin: 0 50px 80px 50px;

}
.formData,
.message{
  background-color: rgba(70, 70, 72, 0.56);
  border: 1px solid #4a4a4a;
  outline: none;
  color: #cfab68;
  font-size: 12px;
 padding: 5px;
  margin-bottom: 13px;
  box-sizing: border-box;
}
.formData:focus,
.message:focus{
  border: 1px solid darkseagreen;
  transition: all 0.5s ease-in-out 0s;
}
.button{
  margin-bottom: 30px;
}
.mycontact h3{
  color: #898989;
}
/*.mycontact span{*/
/*  color: #898989;*/
/*}*/
@media screen and (max-width: 657px) {
  .form{
    width: 100%;
  }
}
