.box {
  width: 200px;
  height: 240px;
  background-color: lightyellow;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.space1{
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 43px;
}

.space2{
  width: 200px;
  background-color: lightgrey;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.photo{
  height: 50px;
  width: 50px;
  background-color: #d4d9d9;

}