.box {
  width: 200px;
  height: 240px;
  //background-color: lightyellow;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.space1{
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 43px;
}
.space2{
  width: 200px;
  background-color: lightgrey;
  text-align: center ;
}

.icon{
  height: 60px;
  width: 60px;
  background-color: #f89800;
  margin-bottom: 30px;
 transform: rotate(45deg);
}