.nav {
  width: 360px;
  display: flex;
  justify-content: space-between;
  font-palette:lavenderblush ;

}
.nav a{
  color: #e8c792;
  text-decoration: none;
}

.link:hover{
  color: #98c898;
  transition: 0.1s;
  transform: scale(1.1, 1.1);
}


@media screen and(max-width: 380px){
  .nav {
    font-size: smaller;
  }
}
