.project {
    width: 300px;
    height: 300px;
    margin:10px 40px 40px;
    position: relative;
}

.visual {
    background-size: cover;
    background-position: center;
    height: 200px;
}

.visual:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 200px;
    background-color: rgba(3, 1, 1, 0.49);
}
.visual:hover {
   filter: blur(3px);
}

.text {
    background-color: rgba(70, 70, 72, 0.56);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    color: #e5c06f;
    font-size: 16px;
    padding: 0;
    margin: 15px;
    line-height: 1.2;
    letter-spacing: 1px;
    font-family: 'Josefin Sans', sans-serif;
}

.description {
    margin: 0 15px 15px;
    color: #feefea;
}
.btnShow{
     height: 40px;
     width: 90px;
     background: #feefea;
     display: flex;
     align-items: center;
     justify-content: center;
     text-decoration: none;
    font-family: 'Josefin Sans', sans-serif;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    transition: 500ms;
    position: absolute;
    z-index: 1;
    left: 105px;
    top:80px;
}
.btnShow:hover{
    height: 50px;
    width: 100px;
    color: #9dcc9d;
    background-color: rgba(31, 31, 32, 0.69);
    left: 100px;
    top:75px;
}

/*@media screen and (max-width: 370px){*/
/*    .project {*/
/*        !*margin:0 0 30px;*!*/
/*        margin-bottom: 30px;*/
/*    }*/
/*}*/