.project {
    width: 300px;
    height: 220px;
    margin: 10px 40px 50px 0;
    position: relative;
    overflow: hidden;
}

.visual {
    background-size: cover;
    background-position: center;
    height: 250px;
}

.visual:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 220px;
    background-color: rgba(3, 1, 1, 0.49);
}


.title {
    color: #e5c06f;
    font-size: 20px;
    padding: 0;
    margin: 50px 20px 15px;
    line-height: 1.2;
    letter-spacing: 1px;
    font-family: 'Josefin Sans', sans-serif;
}

.description {
    margin: 0 15px 15px;
    color: #feefea;
}

.btnShow {
    background: #feefea;
    color: #1f1f20;
    padding: 10px;
    margin: 20px 10px 0;
    text-decoration: none;
    font-family: 'Josefin Sans', sans-serif;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    transition: 500ms;
}

.btnShow:hover {
    border: 0px;
position: relative;
    padding: 15px;
    color: #9dcc9d;
    background-color: rgba(31, 31, 32, 0.69);
}

.hiddentext {
    text-align: center;
    position: absolute;
    color: #FFF;
    width: 100%;
    height: 100%;
    bottom: -101%;
    left: 0;
    transition: .4s;
}

.project:hover .hiddentext {
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;

}
