.footer {
  height: 270px;
  background-image: url(../images/fonblur.jpg);
  background-position: center;
  /*background-image: url(https://c.wallhere.com/photos/b5/51/1920x1080_px_Simple_Background-1330509.jpg!d);*/
//background-color: #1f1f20;
  display: flex;
  justify-content: center;
  position: relative;
}
.conteiner{
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.name{
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-stretch: normal;
  font-size: 34px;
  line-height: 1.5;
  letter-spacing: 5px;
  color: #e5c06f;
  margin: 20px;
}
.boxes{
  display: flex;
  justify-content: space-around;
  margin: 15px;
}
.icon{
  width: 60px;
  height:60px;
  background-color: #e3d6d1;
  margin: 20px;
  border-radius: 50%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}
.icon img{
  width: 100%;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
}
.icon:hover{
 transform: scale(1.15, 1.15);
  transition: all 0.1s ease-in-out 0s;
}
.copyright{
  color: #feefea;
  font-weight: lighter;
  letter-spacing: 1.5px;
  opacity: 0.7;
}
@media screen and (max-width: 544px){
  .box{
    width: 55px;
    height:55px;
    margin: 10px;}
}
@media screen and (max-width: 400px){
  .name{
    text-align: center;
  }
  .box{
    width: 45px;
    height:45px;
  }
  .icon{
    margin: 10px;}
}

